body{
    margin: 0;
}
.header{
    background-color: rgb(255, 78, 55);
    color: white;
    padding: 2px;
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
    margin: 0;
    border: 0;
}
.link-1, .link-2, .link-3{
    display: inline-block;
    padding-top: 8px; padding-bottom: 8px; padding-left: 10px; padding-right: 10px;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: white;
    margin: 0;
    transition-duration: 400ms;
    position: relative;

}
.link-1:hover, .link-2:hover, .link-3:hover{
    background-color: rgb(0, 0, 0);
    color: black;
}
.nav-bar-box{
    background-color: navy;
    text-decoration: none;
    color: white;
    /* padding: 8px; */
}
#l-1, #l-2, #l-3{
    color: white;
    text-decoration: none;
}
.l-4{
    color: navy;
    background-color: navy;
    text-decoration: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
    font-weight: 400;
    float: right;
    padding: 5px;
    border-radius: 10px;
    transition-duration: 500ms;
}
.l-4:hover{
    color: black;
    background-color: white;
    border-radius: 0px;
}
.para-1{
    display: inline-block;
    margin: 0;
    border: 0;
}
.content-box-1{
    width: 100%;
    height: 30%;
    margin: 0;
    border: 0;
    padding-top: 30px; padding-bottom: 30px; 
    background-image: url('img.jpg');
    background-repeat: no-repeat;
    color: white;
    text-align: center;
    
}
#p-1{
    padding: 30px;
    font-size: 24px;
    font-family: Helvetica;
}
.content-box-2{
    width: 100%;
    display: inline-block;
    background-color: rgb(177, 177, 177);
    padding-bottom: 400px;
    margin: 0;
    border: 0;
}
#h-2{
    text-align: center;
    color: white;
    background-color: black;
    display: inline-block;
    width: 100%;
}
.text-1, .text-2, .text-3{
    font-size: 20px;
    transition: all 300ms ease-in-out;
    display: inline-block;
}
.text-1:focus-within, .text-2:focus-within, .text-3:focus-within{
    background-color: rgb(93, 190, 255);
    color: black;
    border-radius: 5px;
    outline: none;
}
.text-3{
    display: none;
}
input[type="radio"]{
    transform: scale(2);
    display: inline-block;
    /* position: relative; left: 10px; */
    
}
label[class*="lb-1"]{
    font-family: Helvetica;
    font-size: 20px;

}
label[class="lb-2"]{
    font-family: Helvetica;
    font-size: 20px;
    /* position: relative; left: 10px;     radio-label */
    display: inline-block;
}
.radio-box{
    position: relative;
    padding-top: 15px; padding-bottom: 15px;
    width: 100%;
    background-color: rgb(255, 164, 45);

}
input[class="submit-1"]{
    /* position: relative;  */
    float: right;
    margin: 10px;
    background-color: rgb(42, 212, 119);
    padding: 10px;
    transition-duration: 500ms;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}
input[class="submit-1"]:hover{
    background-color: white;
    border-radius: 10px;
    color: black;
}
input[class="submit-1"]:focus{
    outline: none;
    background-color: rgb(49, 240, 49);
}
input[class="submit-1"]:focus:hover{
    background-color: white;
    color: black;
}
.output-box{
    background-color: crimson;
}
.output-calc{
    font-family: Helvetica;
    font-size: 25px;
    color: rgb(255, 255, 255);
    display: inline-block;
    padding: 10px;
}
.footer-box{
    text-align: center;
    letter-spacing: 3px;
    background-color: black;
    
}
.h-f{
    display: inline-block;
    color: white;
}
.text-box{
    background-color: rgb(255, 72, 0);
    padding-top: 10px; padding-bottom: 10px;
    display: block;    
}
.lb-1{
    padding-left: 10px; padding-right: 10px;
    color: white;
}
.radio-1, .radio-2, .radio-3, .radio-4{
    display: inline-block;
    padding: 10px;
    padding-right: 15px;
    border: 5px double rgb(255, 54, 54);
}
